<?xml version="1.0"?>
<launch>


    <arg name="deley_time" default="0.4"/>

    <node pkg="turn_signal" type="cmd_vel_filter.py" name="turn_signal" output="screen">
        <param name="delay" value="$(arg deley_time)" />
        <!--<param name="queue_size" value="10.0" />-->
        <param name="sub_topic" value="raw_cmd_vel" />
        <param name="pub_topic" value="cmd_vel" />

        <!--make it smoother-->
    </node>

</launch>