<?xml version="1.0"?>
<launch>

    <node pkg="turn_signal" type="led.py" name="led">
        <param name="sub_topic" value="/led_cmd_vel" />
        <param name="use_light_ratio" value="False" />
        <param name="light_ratio" value="0.0" />
        <param name="rate" value="10.0" />
        <param name="dev" value="/dev/ttyACM0" />
    </node>

</launch>