<launch>
    <!-- Setup the Configuration of ROBOT -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_broadcaster" args="0.12 0 0 0 0 0 1 base_link laser 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.13 0 0 0 1 base_footprint base_link 100"/>
    <!-- <node pkg='tf' type='static_transform_publisher' name='base_link_to_camera' args='2 0 0 0 0 0 base_link camera  100' /> -->

    <!-- <node pkg='tf' type='static_transform_publisher' name='base_link_to_camera_depth_optical_frame'
      args='2 0 0 0 0 0 base_link camera_depth_optical_frame 100' /> -->
    <!-- <node pkg='tf' type='static_transform_publisher' name='depth_optical_frame_to_rgb_optical_frame'
      args='2 0 0 0 0 0 kinetic_depth_optical_frame kinetic_rgb_optical_frame 100' /> -->

    <!-- <node pkg='tf' type='static_transform_publisher' name='map_to_kinect_link'
        args='0 0 0 0 0 0 map kinect_link 100' /> -->

    <!-- just faker -->
    <node pkg='tf' type='static_transform_publisher' name='map_to_base_link' args='0 0 0 0 0 0 map base_footprint 100'/>

    <node pkg='tf' type='static_transform_publisher' name='base_link_to_openni_df' args='0 0 0 0 0 0 base_link openni_depth_frame 100'/>

    <!--fake again-->
    <node pkg='tf' type='static_transform_publisher' name='base_link_to_odom' args='0 0 0 0 0 0 base_link odom 100'/>
</launch>
